body { font-family: sans-serif; }
h1 { margin-top: 10px; margin-bottom: 5px;}
#show-hide-help { font-size: small; }
code {
    background-color: #E5E5E5;
    border: 1px solid #BBB;
    border-radius: 3px;
}
.log-normal, .log-normal-pass, .log-normal-fail { color: #000000; } 
.log-normal-pass { /* background-color: #DFD; */ }
.log-normal-fail { /* background-color: #FDD; */ }
.log-failure { padding-left: 15px; color: #FF0000; }
.log-success { padding-left: 15px; color: #0088FF; }
.log-comment { padding-left: 15px; color: #888888; display:none;}
.log-help { padding-left: 15px; color: #CC33CC; }
.log-url { color: white; background-color: #00AA00; }
#outer-container {
	clear:left;
	float:left;
	width: 100%;
	overflow:hidden;
}
#inner-container {
	float:left;
	width:100%;
	position:relative;
	right:50%;
}
#col-left {
	float:left;
	width:45%;
	position:relative;
	left:50%;
	overflow:hidden;
    padding-right:5px;
    border-right:1px solid black;
    margin-right:5px;
}
#col-right {
    float:left;
	width:54%;
    position:relative;
    left:50%;
    overflow:hidden;
}
label { display: inline-block; width: 100px; }
td { vertical-align:bottom; padding: 3px 15px 3px 3px; }
/* TODO: fix table width in 2nd column esp for long URLs */
thead tr, tbody tr:nth-child(2n) { background-color: #F8F8F8; }
table tbody p { margin: 0; }